In [1]:
#importing the libraries
import pandas as pd
import numpy as np

#helpful character encoding module
import chardet

#set seed for reproducibility
np.random.seed(0)

In [2]:
#start with a string
before = "This is the pound symbol:£"

#check to see what datatype it is
type(before)

str

In [3]:
#encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors="replace")

#check the type
type(after)

bytes

In [4]:
#take a look at what the bytes look like 
after

b'This is the pound symbol:\xc2\xa3'

In [5]:
#convert it back to utf-8
print(after.decode("utf-8"))

This is the pound symbol:£

In [6]:
#try to deocde our bytes with ascii encoding 
print(after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 25: ordinal not in range(128)

In [7]:
#start with a string
before = "This is the euro symbol: £"

#encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors="replace")

#convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character

This is the euro symbol: ?

In [8]:
#reading in files with encoding problems
data= pd.read_csv("ks.csv")

C:\Users\Karthika Preethi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
#look at the first ten thousand btes to guess the character encoding
with open("ks.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
    
#check what the character encoding might be
print(result)

{'encoding': 'utf-8', 'confidence': 0.7525, 'language': ''}

In [16]:
#read in the file with the encoding detected by chardet
data = pd.read_csv("ks.csv", encoding = 'utf-8')

#look at the first few lines
data.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,09/10/2015 11:36,1000,11/08/2015 12:12,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,26/02/2013 00:20,45000,12/01/2013 00:20,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,16/04/2012 04:24,5000,17/03/2012 03:24,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,29/08/2015 01:00,19500,04/07/2015 08:35,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,01/04/2016 13:38,50000,26/02/2016 13:38,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [17]:
#saving the file(will be saved as UTF-8 by default)
data.to_csv("ks_utf_8.csv")